/* FONTS */

@font-face {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  src: url('../fonts/Oswald/Oswald-Regular.woff2') format('woff2');
  src: url('../fonts/Oswald/Oswald-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  src: url('../fonts/Oswald/Oswald-SemiBold.woff2') format('woff2');
  src: url('../fonts/Oswald/Oswald-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Bowlby One', sans-serif;
  font-weight: 400;
  src: url('../fonts/Bowlby_One/BowlbyOne-Regular.woff2') format('woff2');
  src: url('../fonts/Bowlby_One/BowlbyOne-Regular.woff') format('woff');
}

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Oswald', sans-serif;
  --ff-secondary: 'Bowlby One', sans-serif;

  --fw-regular: 400;
  --fw-semiBold: 600;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-baseMed: 1.125rem;
  --fs-med: 1.25rem;
  --fs-medLg: 1.5rem;
  --fs-lg: 2rem;
  --fs-xlg: 2.5rem;

  --fs-headingLg: 4.5rem;
  --fs-headingXlg: 6.875rem;

  --clr-primary-300: hsla(64, 91%, 69%, 1);
  --clr-primary-400: hsla(13, 86%, 53%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-900: hsla(0, 0%, 0%, 1);

  --clr-accent-400: hsl(20, 23%, 95%);

  --shadow-color: 20deg 8% 59%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* BODY/GLOBAL Styles */

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  background: var(--clr-accent-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  line-height: 1.1;
}

.wrapper {
  padding-inline: 1rem;
}

/* UTILITY */

.bg-accent {
  background: var(--clr-primary-400);
}

.flex-row {
  display: flex;
}

/* COMPONENT */

.btn {
  font-size: var(--fs-med);
  font-weight: var(--fw-semiBold);
  text-transform: uppercase;
  padding-block: 0.75rem;
  padding-inline: 4rem;
  border: none;
  border-radius: 8px;
}

.btn-dark {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-900);
}

.btn-dark:hover,
.btn-dark:focus {
  color: var(--clr-neutral-900);
  background: var(--clr-neutral-100);
  outline: 1px solid var(--clr-neutral-900);
  transition: all 400ms ease-in-out;
}

.btn-light {
  color: var(--clr-neutral-900);
  background: transparent;
  outline: 1px solid var(--clr-neutral-900);
}

.btn-light:hover,
.btn-light:focus {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-900);
  outline: 1px solid var(--clr-neutral-900);
  transition: all 400ms ease-in-out;
}

/* HEADER & NAV */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 1rem;
  padding-bottom: 2rem;
}

/* HERO */

.hero {
  position: relative;
}

.hero__title {
  font-size: var(--fs-xlg);
  letter-spacing: -0.4px;
}

.hero__img {
  transform: rotateZ(-10deg);
  z-index: 1;
}

/* MENU */

/* REVIEWS */

.reviews__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semiBold);
  color: var(--clr-primary-400);
  letter-spacing: -0.02rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-inline: 1rem;
}

.reviews__text {
  font-size: var(--fs-baseMed);
  color: var(--clr-primary-400);
  margin-bottom: 3rem;
  margin-inline: 1rem;
}

.review__card {
  background: var(--clr-neutral-100);
  margin-inline: 1rem;
  margin-bottom: 1rem;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  border-radius: 6px;
  box-shadow: var(--shadow-elevation-medium);

  display: flex;
  flex-direction: column;

  max-width: 27rem;
  min-height: 11rem;
}

.review__card--title {
  font-family: var(--ff-primary);
  font-size: var(--fs-sm);
  font-weight: var(--fw-semiBold);
  align-self: center;
  margin-left: 1rem;
}

.review__card--text {
  margin-left: 4rem;
}

/* FOOTER */

.footer__logo {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.footer__title {
  font-size: var(--fs-lg);
  padding-bottom: 2rem;
}

.footer__text {
  font-size: var(--fs-sm);
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
}

.footer__nav--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.footer__nav--item {
  font-size: var(--fs-medLg);
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.footer__nav--item a {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-semiBold);
}

.footer__nav--item a:hover {
  color: var(--clr-neutral-100);
  text-decoration: underline;
  transition: all 400ms ease-in-out;
}
